/* CSS Document for main page/home page*/

	 body {padding:0;margin:0 ;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:13px;background-color: #FFFFFF;color:#3333FF;}
	.Content { padding-bottom:30px;margin:0 auto;padding:0;width:1104px;height:880px;border-radius:5px;border:#0033FF 1px solid;}
	.clockpart { padding:0;margin:0 auto;width:150px;height:70px;}
	.clockpart label { font-size:36px;color:#FFFFFF;font-weight:bold;}
	.topmenutoppart { height: 250px;border:#0033FF 1px solid;border-radius:5px;}
	.bankname { padding-left: 50px; font-style:oblique; font-weight:bold; height:100px;width:150px;}
	.bankname h1 { text-align:center; font-size:39px;}
	.topmenutoprightpart { float:right;width:450px;text-align:justify;direction:ltr;} 
	.topmenutoprightbottom { height:25px;}
	.topmenutoprightbottom ul { padding-left:150px;font-size:14px;}
	.topmenutoprightbottom ul li { list-style:none;display:inline;}
	.topmenutoprightbottom ul li a { text-decoration:none;padding-left:10px; }
	.topmenutoprightbottom ul li a:hover {  cursor:pointer; font-weight:600;}
	
	.mainbodyfooter { padding-top:27px; }
	.mainbodyfootertop { background-color:#EEEEEE; height:25px;}
	.mainbodyfootermiddle { text-align:center;background-color:#99CC33;height:35px;}
	ainbodyfootermiddle h4 { font-size:11px;padding-top:5px;}
	.middlepartbody { width:900px;margin: 0 auto;}
	.middlepartbody form { width:500px;margin:0 auto;}
	